.single-movie-section {
  padding: 0.25rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.25rem;
  margin: auto;
  overflow-y: auto;
  /* border: 1px solid yellow; */
}
.single-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}
.single-title {
  flex: 0 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.25rem;
  text-align: center;
  color: #fff;
}
.single-movie {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 0.25rem;
  margin: 0.25rem 0;
  padding: 0.25rem;
  overflow: hidden;
}

.single-center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.single-movie-info {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  color: #fff;
  overflow-y: auto;
}
.single-movie-info p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0.25rem;
  padding: 0.25rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}

.single-movie-info span {
  font-weight: 100;
  letter-spacing: normal;
  margin: 0 0.25rem;
  padding: 0 0.25rem;
}
@media screen and (max-width: 479px) {
  .single-movie-section {
    max-height: 65vh;
  }
  .single-title {
    flex: 0 0 90px;
    /* font-size: 1.4rem; */
    font-size: 1.5rem;
  }
  .single-movie {
    max-height: 500px;
    grid-template-rows: 400px;
  }
  .single-img {
    max-width: 400px;
  }

  .single-movie-info p {
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.1rem;
  }

  .single-movie-info span {
    font-size: 1rem;
  }
}
@media screen and (min-width: 480px) {
  .single-movie-section {
    max-height: 65vh;
  }
  .single-title {
    flex: 0 0 95px;
    /* font-size: 1.45rem; */
    font-size: 1.55rem;
  }
  .single-movie {
    max-height: 550px;
    grid-template-rows: 400px;
  }
  .single-movie-info p {
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.15rem;
  }
  .single-movie-info span {
    font-size: 1.05rem;
  }
}
@media screen and (min-width: 768px) {
  .single-movie-section {
    max-height: 70vh;
  }
  .single-title {
    flex: 0 0 100px;
    /* font-size: 1.5rem; */
    font-size: 1.6rem;
  }
  .single-movie {
    max-height: 600px;
    grid-template-rows: 450px;
  }
  .single-movie-info p {
    font-size: 1.2rem;
  }
  .single-movie-info span {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .single-movie-section {
    max-height: 65vh;
  }
  .single-title {
    flex: 0 0 110px;
    font-size: 1.6rem;
    font-size: 1.7rem;
  }
  .single-movie {
    max-height: 650px;
    grid-template-rows: 500px;
  }
  .single-movie-info p {
    font-size: 1.3rem;
  }
  .single-movie-info span {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .single-movie-section {
    max-height: 65vh;
  }
  .single-title {
    flex: 0 0 120px;
    font-size: 1.7rem;
    font-size: 1.8rem;
  }
  .single-movie {
    max-height: 700px;
    grid-template-rows: 550px;
    /* border: 1px solid red; */
  }
  .single-movie-info p {
    font-size: 1.4rem;
  }
  .single-movie-info span {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1440px) {
  .single-movie-section {
    max-height: 65vh;
  }
  .single-title {
    flex: 0 0 130px;
    font-size: 1.8rem;
    font-size: 1.9rem;
  }
  .single-movie {
    max-height: 750px;
    grid-template-rows: 600px;
  }
  .single-movie-info p {
    font-size: 1.5rem;
  }
  .single-movie-info span {
    font-size: 1.4rem;
  }
}
