.movie {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 0.1rem;
  background-color: #000;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s linear;
  /**/
  overflow: hidden;
}
.movie:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}
.movie-center {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0.25rem;
  cursor: pointer;
}
.movie-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 0.25rem;
}

.movie-footer > h3::-webkit-scrollbar {
  display: none;
}
.movie-footer > h3 {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.movie-footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #000;
  /**/
  overflow: hidden;
}
.movie-footer > h3 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  /**/
  overflow-y: auto;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  color: #fff;
}

.btn-details {
  display: flex;
  justify-content: center;
  border-radius: 0.25rem;
  text-transform: capitalize;
  color: #000;
  color: #fff;
  background-color: #000;
  border: 1px solid rgba(255, 255, 255, 0.2);
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.btn-details:hover {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0 2px 2px rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 479px) {
  .movie-center {
    flex: 0 0 55%;
    padding: 0.2rem 0.225rem;
    margin: 0.175rem;
  }
  .movie-img {
    max-width: 500px;
    width: 100%;
  }
  .movie-footer {
    margin: 0 0.2rem;
    padding: 0.15rem 0.2rem;
  }
  .movie-footer > h3 {
    font-size: 0.95rem;
    text-align: center;
    padding: 0 0.125rem;
    /**/
    font-size: 1rem;
  }
  .footer p {
    margin: 0.1rem 0.175rem;
    padding: 0.1rem;
    font-size: 0.9rem;
  }
  .btn-details {
    margin: 0.225rem 0.225rem;
    /* padding: 0.25rem; */
    padding: 0.35rem;
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 480px) {
  .movie-center {
    flex: 0 0 60%;
    padding: 0.3rem 0.2rem;
    margin: 0.175rem 0.275rem;
  }
  .movie-img {
    max-width: 500px;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .movie-footer {
    margin: 0 0.2rem;
    padding: 0.15rem 0.2rem;
  }
  .movie-footer > h3 {
    font-size: 1rem;
    text-align: center;
    padding: 0 0.15rem;
    /**/
    font-size: 1.1rem;
  }
  .footer p {
    font-size: 0.95rem;
    text-align: center;
    margin: 0.1rem 0.175rem;
    padding: 0.1rem;
  }
  .btn-details {
    margin: 0.225rem 0.225rem;
    /* padding: 0.225rem; */
    padding: 0.375rem;
    font-size: 0.95rem;
  }
}
@media screen and (min-width: 768px) {
  .movie-center {
    /* flex: 0 0 60%; */
    flex: 0 0 55%;
    padding: 0.3rem 0.25rem;
    margin: 0.2rem;
  }
  .movie-img {
    max-width: 500px;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .movie-footer {
    margin: 0 0.25rem;
    padding: 0.2rem 0.25rem;
  }
  .movie-footer > h3 {
    font-size: 1.1rem;
    text-align: center;
    padding: 0 0.175rem;
    font-size: 1.2rem;
  }
  .footer p {
    font-size: 1rem;
    text-align: center;
    margin: 0.125rem 0.2rem;
    padding: 0.125rem;
  }
  .btn-details {
    margin: 0.25rem 0.25rem;
    /* padding: 0.25rem; */
    padding: 0.4rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .movie-center {
    /* flex: 0 0 60%; */
    flex: 0 0 55%;
    padding: 0.325rem 0.275rem;
    margin: 0.225rem;
  }
  .movie-img {
    max-width: 500px;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .movie-footer {
    margin: 0 0.275rem;
    padding: 0.225rem 0.275rem;
  }
  .movie-footer > h3 {
    font-size: 1.2rem;
    text-align: center;
    padding: 0 0.15rem;
    /**/
    font-size: 1.3rem;
  }
  .footer p {
    font-size: 1.125rem;
    text-align: center;
    margin: 0.15rem 0.225rem;
    padding: 0.15rem;
  }
  .btn-details {
    margin: 0.275rem 0.275rem;
    /* padding: 0.275rem; */
    padding: 0.425rem;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1280px) {
  .movie-center {
    flex: 0 0 55%;
    flex: 0 0 50%;
    padding: 0.325rem 0.275rem;
    margin: 0.25rem;
  }
  .movie-img {
    max-width: 500px;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .movie-footer {
    margin: 0 0.3rem;
    padding: 0.25rem 0.3rem;
    /* border: 1px solid red; */
  }
  .movie-footer > h3 {
    font-size: 1.25rem;
    text-align: center;
    padding: 0 0.15rem;
    /**/
    font-size: 1.4rem;
    /* border: 1px solid red; */
  }
  .footer p {
    font-size: 1.15rem;
    text-align: center;
    padding: 0.175rem;
    margin: 0.175rem 0.25rem;
  }
  .btn-details {
    margin: 0.3rem 0.3rem;
    /* padding: 0.3rem; */
    padding: 0.45rem;
    font-size: 1.15rem;
  }
}

@media screen and (min-width: 1440px) {
  .movie-center {
    flex: 0 0 50%;
    padding: 0.325rem 0.325rem;
    margin: 0.275rem;
  }
  .movie-img {
    max-width: 500px;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .movie-footer {
    margin: 0 0.325rem;
    padding: 0.275rem 0.325rem;
  }
  .movie-footer > h3 {
    font-size: 1.3rem;
    text-align: center;
    padding: 0 0.15rem;
    /**/
    font-size: 1.5rem;
  }
  .footer p {
    font-size: 1.175rem;
    text-align: center;
    margin: 0.2rem 0.275rem;
    padding: 0.2rem;
  }
  .btn-details {
    margin: 0.325rem 0.325rem;
    /* padding: 0.325rem; */
    padding: 0.475rem;
    font-size: 1.2rem;
  }
}
