.single-movie-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  width: 100%;
  overflow-y: overlay;
}

.single-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  margin: 0 auto;
}
.single-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.25rem;
  text-align: center;
  font-size: 1.7rem;
  color: #f2f2f2;
}
.single-movie {
  flex: 1;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-template-rows: 1fr;
  gap: 0.75rem;
  margin: 0.5rem;
  margin-bottom: 0.75rem;
  padding: 0.25rem;
}
.single-image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}
.single-movie-info {
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0.5rem;
}
.single-movie-info p {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
  padding: 0.25rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  color: #f2f2f2;
}
.single-movie-info p:nth-child(2) {
  display: flex;
  align-items: flex-start;
}
.single-movie-info p:last-child {
  flex-direction: column;
  align-items: flex-start;
}
.movie-data {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  padding: 0 0.25rem;
  font-size: 1.1rem;
  font-weight: 100;
}
.single-movie-info p:last-child .movie-data {
  margin-left: 0;
}

.single-img {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: fill;
  border-radius: 0.5rem;
}
.overview {
  display: inline;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  vertical-align: middle;
}
.btn-readmore {
  background-color: transparent;
  border-color: transparent;
  padding-left: 0.5rem;
  color: #4eaaff;
  font-size: 0.8rem;
  cursor: pointer;
}
@media screen and (max-width: 479px) {
  .single-movie-section {
    margin-top: 0.75rem;
  }
  .single-container {
    width: 95%;
    max-width: 100%;
  }
  .single-title {
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 0.25rem;
    font-size: 1.5rem;
  }
  .single-movie {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .single-image-wrapper {
    height: 200px;
  }
  .single-img {
    max-width: 420px;
  }
  .single-movie-info {
    margin-bottom: 0.25rem;
  }
  .single-movie-info p {
    font-size: 1.1rem;
  }
  .movie-data {
    font-size: 1rem;
  }

  .single-movie-info p:last-child .movie-data {
    margin: 0 0.15rem;
  }
  .btn-readmore {
    padding-left: 0.25rem;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .single-movie-section {
    margin-top: 0.75rem;
  }
  .single-container {
    width: 95%;
    max-width: 100%;
  }

  .single-title {
    margin: 0.25rem 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.25rem;
    font-size: 1.6rem;
  }
  .single-movie {
    grid-template-columns: 0.8fr 1fr;
    gap: 0.5rem;
  }

  .single-img {
    max-height: 450px;
  }

  .single-movie-info p {
    font-size: 1.15rem;
  }
  .movie-data {
    font-size: 1.05rem;
  }

  .single-movie-info p:last-child .movie-data {
    margin: 0 0.15rem;
  }
  .btn-readmore {
    padding-left: 0.25rem;
    font-size: 0.85rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .single-movie-section {
    margin-top: 1.5rem;
  }
  .single-container {
    width: 90%;
    max-width: 1024px;
  }
  .single-title {
    margin: 0.25rem 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.25rem;
    font-size: 1.7rem;
  }
  .single-movie {
    grid-template-columns: 0.7fr 1fr;
    gap: 0.75rem;
  }
  .single-img {
    max-height: 500px;
  }
  .single-movie-info p {
    font-size: 1.2rem;
  }
  .movie-data {
    font-size: 1.1rem;
  }

  .single-movie-info p:last-child .movie-data {
    margin: 0 0.25rem;
  }
  .btn-readmore {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .single-movie-section {
    margin-top: 1.5rem;
  }
  .single-container {
    width: 90%;
    max-width: 1140px;
  }
  .single-title {
    margin: 0.25rem 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.25rem;
    font-size: 1.8rem;
  }
  .single-movie {
    grid-template-columns: 0.7fr 1fr;
    gap: 0.75rem;
  }
  .single-img {
    max-height: 500px;
  }
  .single-movie-info p {
    font-size: 1.2rem;
  }
  .movie-data {
    font-size: 1.1rem;
  }

  .single-movie-info p:last-child .movie-data {
    margin: 0 0.25rem;
  }
  .btn-readmore {
    font-size: 0.95rem;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .single-movie-section {
    margin-top: 1.75rem;
  }
  .single-container {
    width: 85%;
    max-width: 1280px;
  }
  .single-title {
    margin: 0.5rem;
    margin-bottom: 0.75rem;
    padding: 0.75rem 0.5rem;
    font-size: 1.9rem;
  }
  .single-img {
    max-height: 450px;
    max-height: 500px;
  }
  .single-movie {
    grid-template-columns: 0.6fr 1fr;
    gap: 1rem;
  }
  .single-movie-info p {
    font-size: 1.4rem;
  }
  .movie-data {
    font-size: 1.3rem;
  }
  .single-movie-info p:last-child .movie-data {
    margin: 0 0.5rem;
  }
  .btn-readmore {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  .single-movie-section {
    margin-top: 1.75rem;
  }
  .single-container {
    width: 85%;
    max-width: 1440px;
  }
  .single-title {
    margin: 0.5rem;
    margin-bottom: 0.75rem;
    padding: 0.75rem 0.5rem;
    font-size: 2rem;
  }
  .single-img {
    max-height: 450px;
    max-height: 500px;
  }
  .single-movie {
    grid-template-columns: 0.6fr 1fr;
    gap: 1rem;
  }
  .single-movie-info p {
    font-size: 1.5rem;
  }
  .movie-data {
    font-size: 1.4rem;
  }

  .single-movie-info p:last-child .movie-data {
    margin: 0 0.5rem;
  }
  .btn-readmore {
    font-size: 1.05rem;
  }
}
