.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.nav-center {
  width: 90%;
  padding: 0.5rem 0;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0.5rem 0.25rem;
}
.nav-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-color: transparent;
  color: #fff;
  transition: all 0.3s linear;
  cursor: pointer;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  color: #f4f4f4;
  gap: 0.5rem;
}
.logo-title {
  letter-spacing: 0.1rem;
}
.logo-icon {
  position: relative;
  top: 2px;
}
.links {
  border: none;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
@media screen and (max-width: 479px) {
  .nav {
    margin-bottom: 0;
  }
  .nav-center {
    width: 95%;
    max-width: 100%;
    margin: 0.5rem auto;
  }
  .nav-toggle {
    font-size: 1.2rem;
  }
  .logo {
    font-size: 1.4rem;
  }

  .links {
    margin: 0 0.25rem;
    border-radius: 0.5rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .nav {
    margin-bottom: 0;
  }
  .nav-center {
    width: 95%;
    max-width: 100%;
    margin: 0.5rem auto;
  }
  .nav-toggle {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.45rem;
  }
  .links {
    margin: 0 0.25rem;
    border-radius: 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    margin-bottom: 1rem;
  }
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 1rem auto;
    max-width: 1024px;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .logo {
    font-size: 1.5rem;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .nav {
    margin-bottom: 1rem;
  }
  .nav-center {
    width: 90%;
    max-width: 1140px;
    margin: 1rem auto;
    padding: 1rem 0.5rem;
  }
  .logo {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    margin-bottom: 1.25rem;
  }
  .nav-center {
    width: 85%;
    max-width: 1280px;
    margin: 1.25rem auto;
    padding: 1.25rem 0.5rem;
  }
  .logo {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 1440px) {
  .nav {
    margin-bottom: 1.25rem;
  }

  .nav-center {
    width: 85%;
    max-width: 1440px;
    margin: 1.25rem auto;
    padding: 1.25rem 0.5rem;
  }
  .logo {
    font-size: 1.8rem;
  }
}
