.links a {
  display: block;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  color: #f4f4f4;
  text-transform: capitalize;
  letter-spacing: 0.25rem;
  font-weight: bold;
}

.links a:hover {
  padding-left: 1rem;
}

@media screen and (max-width: 479px) {
  .links a {
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .links a {
    padding: 0.2rem 0.5rem;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 768px) {
  .links a {
    margin: 0.5rem;
    margin-right: 0;
    padding: 0.25rem;
    font-size: 1.1rem;
  }
  .links a:hover {
    padding: 0.25rem;
    background-color: transparent;
  }
}
@media screen and (min-width: 1024px) {
  .links a {
    margin: 0.5rem;
    padding: 0.25rem;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .links a {
    margin: 0.5rem 0.75rem;
    padding: 0.25rem;
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1440px) {
  .links a {
    margin: 0.5rem 0.75rem;
    padding: 0.25rem;
    font-size: 1.4rem;
  }
}
