* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  /*파이어폭스 스크롤 디자인*/
  scrollbar-width: thin;
  scrollbar-color: rgb(180, 180, 180) rgb(40, 40, 40);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: rgb(40, 40, 40);
}
::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(220, 220, 220);
}

main {
  width: 100%;
  height: calc(var(--vh) * 100);
  display: flex;
  flex-direction: column;
  background-color: rgb(53, 52, 52);
  overflow: hidden;
}
