.section-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-control {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
}
.form-control input {
  width: 100%;
  padding: 0.5rem 0;
  padding-left: 0.5rem;
  border-radius: 0.25rem;
  border-color: transparent;
  text-transform: capitalize;
}
.form-control input::placeholder {
  font-weight: bold;
}
.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin-left: 0.5rem;
  background-color: transparent;
  border-color: transparent;
  background-color: #fff;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: #000;
  cursor: pointer;
}
@media screen and (max-width: 479px) {
  .search-form {
    width: 95%;
    max-width: 100%;
  }
  .form-control input {
    padding: 0.5rem 0;
    padding-left: 0.5rem;
  }
  .search-btn {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .search-form {
    width: 95%;
    max-width: 100%;
  }
  .form-control input {
    padding: 0.5rem 0;
    padding-left: 0.5rem;
  }
  .search-btn {
    font-size: 0.95rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .search-form {
    width: 90%;
    max-width: 1024px;
  }
  .form-control input {
    padding: 0.6rem 0;
    padding-left: 0.75rem;
  }
  .search-btn {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .search-form {
    width: 90%;
    max-width: 1140px;
  }
  .form-control input {
    padding: 0.6rem 0;
    padding-left: 0.75rem;
  }
  .search-btn {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .search-form {
    width: 85%;
    max-width: 1280px;
  }
  .form-control input {
    padding: 0.7rem 0;
    padding-left: 1rem;
  }
  .search-btn {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .search-form {
    width: 85%;
    max-width: 1440px;
  }
  .form-control input {
    padding: 0.7rem 0;
    padding-left: 1rem;
  }
  .search-btn {
    font-size: 1.3rem;
  }
}
