.links a {
  display: block;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  color: #f4f4f4;
  text-transform: capitalize;
  letter-spacing: 0.25rem;
  font-weight: bold;
}

.links a:hover {
  padding-left: 1.5rem;
}

@media screen and (max-width: 479px) {
  .links a {
    padding: 0.25rem 1rem;
    font-size: 0.85rem;
    /**/
    padding: 0.2rem 1rem;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .links a {
    padding: 0.2rem 1rem;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 768px) {
  .links a {
    padding: 0;
    margin: 0.6rem;
    font-size: 1rem;

    font-size: 1.2rem;
  }
  .links a:hover {
    padding: 0;
    background-color: transparent;
  }
}
@media screen and (min-width: 1024px) {
  .links a {
    margin: 0.7rem;
    font-size: 1.1rem;

    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1280px) {
  .links a {
    margin: 0.8rem;
    font-size: 1.2rem;
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1440px) {
  .links a {
    margin: 0.9rem;
    font-size: 1.3rem;

    font-size: 1.5rem;
  }
}
