* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

main {
  width: 100%;
  /* height: calc(var(--vh) * 100); */
  /* max-height: calc(var(--vh) * 100); */
  /* min-height: calc(var(--vh) * 100); */
  /* height: 100%; */
  height: calc(var(--vh) * 100);
  /* min-height: 100vh; */
  /* min-height: calc(var(--vh) * 100); */

  display: flex;
  flex-direction: column;
  background-color: black;
  overflow: hidden;
  /* overflow-y: auto; */
}

section {
  flex: 1;
  height: 100%;
  margin: 0 auto;
  /* margin: 0.35rem auto; */
  margin: 0.5rem auto;
  /* border: 1px solid red; */
  width: 100%;
}

@media screen and (max-width: 479px) {
  section {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  section {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  section {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  section {
    width: 90%;
  }
}
@media screen and (min-width: 1280px) {
  section {
    width: 85%;
  }
}
@media screen and (min-width: 1440px) {
  section {
    width: 85%;
  }
}
