.section-movie-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  margin: 0.5rem auto;
  overflow: hidden;
  /* border: 1px solid red; */
}
.movie-list-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.5rem;
  overflow-y: auto;
}

@media screen and (max-width: 479px) {
  .movie-list-container {
    grid-auto-rows: 300px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .movie-list-container {
    grid-auto-rows: 320px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .movie-list-container {
    grid-auto-rows: 340px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .movie-list-container {
    grid-auto-rows: 360px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .movie-list-container {
    grid-auto-rows: 380px;
  }
}
@media screen and (min-width: 1440px) {
  .movie-list-container {
    grid-auto-rows: 400px;
  }
}
